<footer>
  &copy; Joshua Seigler 2025.
  -
  <a rel="me" href="mailto:joshua@seigler.net?subject=Hello">Contact</a>
  -
  <a href="/feed.xml">RSS</a>
  -
  <a href="/unoffice-hours/">Unoffice Hours</a>
  -
  <a href="/webrings/">Web Rings</a>
</footer>
<div id="effects"></div>