<footer>
  &copy; Joshua Seigler 2025.
  -
  <a href="https://github.com/seigler" rel="me">GitHub</a>
  -
  <a href="/feed.xml">RSS</a>
  -
  <a rel="me" href="mailto:joshua@seigler.net?subject=Hello">Contact</a>
</footer>
