<footer>
  <p>
    I love hearing from visitors! If you have thoughts or comments please <a rel="me" href="mailto:joshua@seigler.net?subject=Hello">email me</a>, you'll make my day.
  </p>
  &copy; Joshua Seigler 2025.
  -
  <a href="/feed.xml">RSS</a>
  -
  <a href="/unoffice-hours/">Unoffice Hours</a>
  -
  <a href="/webrings/">Webrings</a>
</footer>
<div id="effects"></div>