{%- from "components/tagList.njk" import tagList with context -%}
<header>
  <nav>
    <div class="nav-row">
      <div class="nav-home"><a href="{{ "/" | url }}">{{ site.title }}</a></div>
    </div>
    <div class="nav-categories">
      {%- for item in [ "posts", "about", "now", "uses", "recipes", "music", "books", "links", "search"] %}
        <a {% if "/" + item in page.url %}aria-current="page" {% endif %} href="{{ "/" +item + "/" | url }}">/{{ item }}</a>
      {%- endfor %}
    </div>
  </nav>
  {%- if cover %}
  <div class="cover">
    <img src="{{ cover | url }}" alt="" loading="eager">
    <h1>{{ title }}{% if rssUrl and page.url !== '/' %}<a class="rss" href="{{ rssUrl }}"></a>{% endif %}</h1>
  </div>
  {%- else %}
    <h1>{{ title }}{% if rssUrl and page.url !== '/' %}<a class="rss" href="{{ rssUrl }}"></a>{% endif %}</h1>
  {%- endif %}
  <div class="header-meta">
    {%- if date and not omitMetadata -%}
      <span>
        {{ date | formatDate("MMMM D, YYYY") }}
        {%- if updated and not omitMetadata %}
        (Updated {{ updated | formatDate("MMMM D, YYYY") }})
        {%- endif -%}
      </span>
    {%- endif -%}
    {{ tagList(tags.slice(1)) }}
    {%- if coverInfo -%}
      <span class="cover-info">Image: {{ coverInfo | markdown | safe }}</span>
    {%- endif -%}
  </div>
</header>
