<div class="searchCard">
  <div id="searchbox"></div>
  <script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#searchbox', showImages: false, resetStyles: false });"></script>
</div>
