<div>
  {%- for tag, data in collections.categories -%}
    <a class="button tag" style="--tagIndex:{{ collections.categories[tag].id }}" href="/tags/{{ tag | slugify }}/">{{ tag }}
      <span class="tagCount">{{ data.count }}</span>
    </a>
  {%- endfor -%}
</div>
