---
layout: base.njk
tags: timeline
permalink: about/index.html
title: About
---
{{ content | safe }}

{% for item in collections.timeline | reverse %}
  {% if item.data.title !== "About" and not item.data.draft %}
    <h3 id="{{item.data.time}}"><a class="header-anchor" href="#{{item.data.time}}" aria-hidden="true"></a>{{ item.data.title | markdown | safe }} <aside>{{item.data.time}}</aside></h3>
    <p>{{ item.data.description | markdown | safe }}</p>
  {% endif %}
{% endfor %}
