---
title: Joshua's Homepage
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/site.css" | url }}"/>
    <title>{{ tag | capitalize if tag else title }} - joshua.seigler.net</title>
  </head>
  <body data-font="english" data-path="{{page.url}}">
    {% include "-header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "-footer.njk" %}
  </body>
</html>
