---
title: Joshua's Homepage
---

{%- set computedTitle = tag | capitalize if tag else title -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" href="{{ "/site.css" | url }}"/>
    <link rel="me" href="https://github.com/seigler"/>
    <link rel="webmention" href="https://webmention.io/joshua.seigler.net/webmention"/>
    <title>{{ computedTitle }} - {{ site.title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta property="og:title" content="{{ computedTitle }}"/>
    <meta property="og:type" content="{{ article }}"/>
    <meta property="og:url" content="{{ page.url | absoluteURL }}"/>
    <meta name="twitter:title" content="{{ computedTitle }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    {% if cover %}
      <meta property="og:image" content="{{ cover | absoluteURL }}"/>
      <meta name="twitter:image" content="{{ cover | absoluteURL }}"/>
    {% endif %}
    <meta name="twitter:card" content="summary"/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <script defer src="https://stats.apps.seigler.net/script.js" data-website-id="ccb4bd94-2a71-47fe-8eea-d85bf75b7f6d"></script>
    <script defer src="/scripts/effects.js"></script>
  </head>
  <body data-font="english" data-path="{{ page.url }}">
    {% include "-header.njk" %}
    <main data-pagefind-body>
      {{ content | safe }}
    </main>
    {% include "-footer.njk" %}
  </body>
</html>