---
layout: "base.njk"
eleventyComputed:
  title: "{{ page.fileSlug | capitalize }}"
---

{%- from "components/collectionList.njk" import collectionList with context -%}
<main>
  <section data-pagefind-body>
    {{ content | safe }}
  </section>
  {% set tag = page.fileSlug %}
  {% if collections[tag] %}
    {% if tag === "posts" %}
      {% include "-taglist.njk" %}
    {% endif %}
    {{ collectionList(tag) }}
  {% endif %}
</main>