---
layout: "base.njk"
---
{{ content | safe }}
{%- for name, collection in collections -%}
  {%- if name not in ["all", "timeline", "pages", "books"] -%}
    <h2>{{name | capitalize }}</h2>
    <ul>
      {%- for item in collection | reverse -%}
        <li>
          <a href="{{item.url}}">{{item.data.title}}</a>
          {%- if item.data.date -%}
            <aside>{{item.data.date | formatDate("MMMM DD, YYYY") }}</aside>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endfor -%}
