---
layout: "base.njk"
---
{{ content | safe }}
{%- for name, collection in collections -%}
  {%- if name in ["posts"] -%}
    <h2>{{name | capitalize }}</h2>
    <ul class="collection">
      {%- for item in collection | reverse -%}
        <li>
          <a href="{{item.url}}">{{item.data.title}}</a>
          {%- if item.data.date -%}
            <aside>{{item.data.date | formatDate("MMMM DD, YYYY") }}</aside>
          {%- endif -%}
          <p>{{item.data.description | safe}}</p>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endfor -%}
