---
layout: "base.njk"
---
{%- from "components/collectionList.njk" import collectionList with context -%}
<main data-pagefind-body>
  {{ content | safe }}
  {%- for name, collection in collections -%}
    {%- if name in ["posts"] -%}
      <h2>{{name | capitalize }}</h2>
      {% include "-taglist.njk" %}
      {{ collectionList(name, limit=5) }}
    {%- endif -%}
  {%- endfor -%}
</main>
