---
layout: base.njk
---

{{ content | safe }}

<script data-isso="//comments.apps.seigler.net/" src="//comments.apps.seigler.net/js/embed.min.js"></script>

<section id="isso-thread" data-title="{{computedTitle}}">
  <noscript>Javascript needs to be activated to view comments.</noscript>
</section>