@font-face {
  font-family: FTAurebesh;
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("/fonts/ftaurebesh/ftaurebesh-medium.woff2") format("woff2");
  size-adjust: 125%;
}
@font-face {
  font-family: FTAurebesh;
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/ftaurebesh/ftaurebesh-bold.woff2") format("woff2");
  size-adjust: 125%;
}
[data-language="aurebesh"] {
  font-family: FTAurebesh;
  line-height: 1.25;
  ul:not(.collection) > li {
    list-style-type: square;
  }
}
