---
layout: base
title: Home
---

{% for name, collection in collections %}
  {% if name !== "all" %}
    <h2>{{name | capitalize }}</h2>
    <ul>
      {% for item in collection %}
        <li>
          <a href="{{item.url}}">{{item.data.title}}</a>
          {% if item.data.dateString %}
            <aside>{{item.data.dateString}}</aside>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
