---
layout: "base.njk"
title: "Links"
permalink: /links/
useTitle: true
---
<main>
  <section data-pagefind-body>
    <ul class="collection">
      {%- for item in collections.links -%}
        <li>
          <a href="{{item.url}}">{{item.data.title}}</a>
          {%- if item.data.date -%}
            <aside>{{item.data.date | formatDate("MMMM DD, YYYY") }}</aside>
          {%- endif -%}
          {{item.data.description | safe}}
        </li>
      {%- endfor -%}
    </ul>
  </section>
</main>
