---
layout: base.njk
permalink: search/index.html
title: Search
---

<main>
  <div class="searchCard">
    <div id="searchbox"></div>
  <script src="/pagefind/pagefind-ui.js" type="module" onload="new PagefindUI({ element: '#searchbox', showImages: false, resetStyles: false, autofocus: true });"></script>
  </div>
</main>
