---
layout: "base.njk"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
    - recipes
    - timeline
useTitle: true
eleventyComputed:
  title: "Posts tagged #{{ tag }}"
  permalink: /tags/{{ tag | slugify }}/
  rssUrl: /feeds/{{ tag | slugify }}.xml
---
{%- from "components/collectionList.njk" import collectionList with context -%}
<main>
  <section data-pagefind-body>
    {{ content | safe }}
  </section>
  {{ collectionList(tag) }}
</main>
